<div class="top-row px-4 text-right" style="width: auto">
    <ul class="list-inline float-right">
        <li class="list-inline-item"><a href=""> Home </a></li>
        <li class="list-inline-item"><a href="blackjack"> Blackjack </a></li>
        <li class="list-inline-item"><a href="poker"> Poker </a></li>
    </ul>
</div>
