@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Blackjack Page";
}

<h1>Solitaire Page</h1>

<button type="button" class="btn-dark" data-toggle="modal" data-target="#exampleModal" style="float: right">
	How-to-Play
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title font-weight-bold" id="exampleModalLabel">Rules: Solitaire</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!--Rules go here-->
				<div>

					&hearts;
					&spades;
					&diams;
					&clubs;

					<h4>Objective of the game</h4>
					<p> Beat the Dealer. There are some mis conceptions about the objective of the game of blackjack but the simplest level all you are trying to do is beat the dealer</p>

					<h5>How do you beat the dealer:</h5>
					<ol>
						<li>Drawing a hand value that is higher than the dealer's hand value</li>
						<li>The dealer drawing a hand value that goes over 21</li>
						<li>Drawing a hand value of 21 on your first two cards, when the dealer does not</li>
					</ol>

					<h5>How do you lose to the dealer:</h5>
					<ol>
						<li>Your hand value exceeds 21</li>
						<li>The dealers hand has a greater value than yours at the end of the round</li>
					</ol>

					<h5>How do you find a hand's total value:</h5>
					<ol>
						<li>2 through 10 count at face value, i.e a 2 counts as two, a 9 counts as nine</li>
						<li>Face cards (J,Q,K) count as 10</li>
						<li>Ace can count as a 1 or an 11 depending on which value helps the hand the most</li>
					</ol>
		
					<h4> The Game</h4>

					<p>
						Beginning of the game, the dealer will deal two cards to the player, and it's your choice to play hand
						<br /> <br />
						If you're dealt a ten-value card and an Ace as your first two cards that means you got a Blackjack and win the round immediately  
						<br /> <br />
						If not you have 2 ways you can play your card:
						Stand: if your first two cards are acceptable, you can stand and the dealer will move on
						Hit:If you would like more cards to improve your hand total, the dealer will give you more cards, one at a time, until you either go "bust"(go over 21) or you choose to stand. There is no limite on the number of cards tou can take
						<br /> <br />
						After you end your turn, the dealer will start playing their card, dealer will stop getting card when either they reach 18 or more or they go bust.
					</p>

					<a href="https://www.blackjackapprenticeship.com/how-to-play-blackjack/" target="_blank">Source: Blackjack Apprenticeship</a>



				</div>


			</div>
		</div>
	</div>
</div>