# Ignore user specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
bin
obj

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
.vs/

