@page "/"

<html style="font-size: 16px;">
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Card Game, About Us">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" href="css/nicepage.css" media="screen">
<link rel="stylesheet" href="css/Home.css" media="screen">
    
    <meta name="generator" content="Nicepage 3.30.2, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  </head>
  <body data-home-page="Home.html" data-home-page-title="Home" class="u-body">
    <section class="u-align-center u-clearfix u-grey-60 u-section-1" src="" id="sec-1e87">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-title u-text-1">Capstone Project</h1>
        <p class="u-text u-text-default u-text-2">By Group 2</p>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-2-light-1 u-section-2" id="carousel_45c4">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-left-cell u-size-23 u-layout-cell-1">
                <div class="u-container-layout u-valign-top u-container-layout-1">
                  <h2 class="u-align-right u-text u-text-body-alt-color u-text-default u-text-1">About Us</h2>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <p class="u-text u-text-default u-text-2">Capstone project is a group project by UNL students in CSCE 361. In&nbsp; this project, students will demonstrate the good software engineering practices learned during the semester to develop a software project on a team of 3-4 members, using the Scrum development. Our group have decided to create a card game web application that include 2 card games: a singleplayer game (blackjack) and a multiplayer game (poker).</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-3bf1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="612" data-image-height="408">
                <img src ="Assets/blackjack.jpg" class="u-container-layout u-container-layout-1" />
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-align-center u-container-style u-gradient u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-text u-text-default u-text-white u-text-1">BlackJack</h2>
                  <a href="blackjack" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1">PLAY</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-4" id="sec-39aa">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-gradient u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-align-center u-text u-text-default u-text-white u-text-1">Po​​ker</h2>
                  <a href="poker" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1">PLAY</a>
                </div>
              </div>
              <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1880" data-image-height="1253">
                <img src="Assets/poker.jpg" class="u-container-layout u-container-layout-2" />
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>