@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

    image credit:
    https://commons.wikimedia.org/wiki/File:English_pattern_playing_cards_deck.svg
*@
@{
	ViewData["Title"] = "Poker Page";
}

<h1>Poker page</h1>


<button type="button" class="btn-dark" data-toggle="modal" data-target="#exampleModal" style="float: right">
  How-to-Play
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold" id="exampleModalLabel" >Rules: Texas Hold 'em</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Rules go here-->
        <div>
            
            &hearts;
            &spades;
            &diams;
            &clubs;

            <ol>
                <li>Each player is dealt two cards by the dealer.</li>

                <li>The dealer then lays three cards in the middle of the table face-up, this is known as the <b>flop</b>.</li>
                    <ul><li>In typical play, all players will make bets around the table before the flop is shown.</li></ul>

                <li>The dealer lays down another card after the flop, this is known as the <b>turn</b>.</li>
                    <ul><li>In typical play, all players will make bets around the table after the flop and before the turn.</li></ul>

                <li>The dealer lays down a final fifth card, this is known as the <b>river</b>.</li>
                    <ul>
                        <li>In typical play, all players will make bets around the table after the turn is shown and before the river.</li>
                        <li>In typical play, after the river card is shown players will make final bets on their hands and then show their hands</li>
                    </ul>

                <li>In Texas Hold 'em the goal is to have the highest value hand, along with the added value of the <b>community cards</b> (the flop, the turn, and the river). (The 5 community cards are considered part of yours and everyone elses hands at the table</li>
            </ol>
                <li><b>A list of hands ranked from best to worst &dArr;:</b></li>
                    <ul>
                        <li>
                           Royal-Flush
                            
                        </li>
                            <img src="~/Assets/Cards/Ten-of-Diamonds.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Jack-of-Diamonds.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Queen-of-Diamonds.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/King-of-Diamonds.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Ace-of-Diamonds.PNG" class="border" width=150px height=200px/>
                                <div>
                                    <b>Description:</b>
                                        Straight flush from Ten to Ace
                                </div>
                                <br>


                        <li>
                           Straight-Flush
                            
                        </li>
                            <img src="~/Assets/Cards/Two-of-Clubs.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Three-of-Clubs.PNG" class="border" width=150px height=200px/>                           
                            <img src="~/Assets/Cards/Four-of-Clubs.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Five-of-Clubs.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Six-of-Clubs.PNG" class="border" width=150px height=200px/>
                                <div>
                                    <b>Description:</b>
                                        Straight of the same suit        
                                </div>
                                <br>


                        <li>
                           Four-of-a-Kind
                            
                        </li>
                            <img src="~/Assets/Cards/Two-of-Diamonds.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Two-of-Clubs.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Two-of-Hearts.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Two-of-Spades.PNG" class="border" width=150px height=200px/>
                                <div>
                                    <b>Description:</b>
                                        Four cards of the same value
                                    </div>
                                    <br>


                        <li>
                           Full-House
                            
                        </li>
                            <img src="~/Assets/Cards/Two-of-Diamonds.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Two-of-Clubs.PNG" class="border" width=150px height=200px/>                           
                            <img src="~/Assets/Cards/Two-of-Hearts.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Three-of-Spades.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Three-of-Diamonds.PNG" class="border" width=150px height=200px/>
                                <div>
                                    <b>Description:</b>
                                        Combination of three of a kind and a pair
                                </div>
                                <br>


                        <li>
                           Flush
                            
                        </li>
                            <img src="~/Assets/Cards/Two-of-Spades.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Five-of-Spades.PNG" class="border" width=150px height=200px/>                           
                            <img src="~/Assets/Cards/Eight-of-Spades.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Jack-of-Spades.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Ace-of-Spades.PNG" class="border" width=150px height=200px/>
                                <div>
                                    <b>Description:</b>
                                         5 cards of the same suit
                                </div>
                                <br>


                        <li>
                           Straight
                            
                        </li>
                            <img src="~/Assets/Cards/Two-of-Diamonds.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Three-of-Clubs.PNG" class="border" width=150px height=200px/>                           
                            <img src="~/Assets/Cards/Four-of-Hearts.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Five-of-Spades.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Six-of-Diamonds.PNG" class="border" width=150px height=200px/>
                                <div>
                                    <b>Description:</b>
                                        Sequence of 5 cards in increasing value (Ace can precede 2 and follow up King)
                                </div>
                                <br>


                        <li>
                           Three-of-a-Kind
                            
                        </li>
                            <img src="~/Assets/Cards/Two-of-Diamonds.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Two-of-Clubs.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Two-of-Hearts.PNG" class="border" width=150px height=200px/>
                                <div>
                                    <b>Description:</b>
                                        Three cards with the same value
                                    </div>
                                    <br>


                        <li>
                           Two-Pairs
                            
                        </li>
                            <img src="~/Assets/Cards/Two-of-Diamonds.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Two-of-Clubs.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Three-of-Hearts.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Three-of-Clubs.PNG" class="border" width=150px height=200px/>
                                <div>
                                    <b>Description:</b>
                                        Two times two cards with the same value    
                                </div>
                                <br>


                        <li>
                            Pair
                             
                        </li>
                            <img src="~/Assets/Cards/Two-of-Diamonds.PNG" class="border" width=150px height=200px/>
                            <img src="~/Assets/Cards/Two-of-Clubs.PNG" class="border" width=150px height=200px/>
                                <div>
                                    <b>Description:</b>
                                        	Two cards with the same value    
                                </div>
                                <br>


                        <li>
                            High-Card
                             
                        </li>
                            <img src="~/Assets/Cards/Ace-of-Diamonds.PNG" width=150px height=200px/>
                                <div>
                                    <b>Description:</b>
                                        Simple value of the card. Lowest: 2 – Highest: Ace (King in example)   
                                </div>
                                <br>
                    </ul>

                            <a href="https://en.wikipedia.org/wiki/Texas_hold_%27em#Hand_values" target="_blank">Source: Wikimedia Foundation Inc.</a>

            
         
        </div>


      </div>
      </div>
    </div>
  </div>
