@page "/poker"

@inject IJSRuntime jsRuntime

<h1>Poker page</h1>


<button type="button" @onclick="NavigateToRules" class="btn-dark" target="blank" style="float: right">
  How-to-Play
</button>

@code {

    public async Task NavigateToRules()
    {
        string url = "/pokerrules";
        await jsRuntime.InvokeAsync<object>("open", url, "_blank");
    }
}