.button-holder {
    position: fixed;
    bottom: -4px;
    right: 10px;
}

.col-1{
    margin-left: 20px;
    margin-right: 20px;
}

.col-2 {
    margin-left: 20px;
    margin-right: 20px;
}

.col-3{
    margin-left: 20px;
    margin-right: 20px;
}